<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${pageTitle}">Coworking Space</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <nav id="navbar" class="navbar">
    <div class="logo">Coworking Space</div>
    <ul class="nav-links">
      <li><a th:href="@{/}">Главная</a></li>
      <li><a th:href="@{/booking}">Бронирование</a></li>
      <li><a th:href="@{/photo}">О нас</a></li>

      <!-- Блок авторизации -->
      <li th:if="${session.login != null}">
        <a th:href="@{${session.isAdmin ? '/admin' : '/user'}}">
          <img th:src="@{/images/login_avatar.jpg}" alt="Личный кабинет" style="width: 24px; height: 24px;"/>
          <span th:if="${session.isAdmin}" style="color: whitesmoke; margin-left: 5px;">ADMIN</span>
        </a>
      </li>

      <li th:if="${session.login != null}">
        <a th:href="@{/logout}">
          <img th:src="@{/images/arrow.jpg}" alt="Выйти" style="width: 24px; height: 24px;"/>
        </a>
      </li>

      <li th:unless="${session.login != null}">
        <a th:href="@{/login}">
          <img th:src="@{/images/enter.jpg}" alt="Войти" style="width: 24px; height: 24px;"/>
        </a>
      </li>
    </ul>
  </nav>
</header>


