<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${pageTitle}">Coworking Space</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <nav id="navbar" class="navbar">
    <div class="logo">Coworking Space</div>
    <ul class="nav-links">
      <li><a th:href="@{/}">Главная</a></li>
      <li><a th:href="@{/booking}">Бронирование</a></li>
      <li><a th:href="@{/photo}">О нас</a></li>
      <li><a th:href="@{/contact}">Контакты</a></li>
      <!-- Блок авторизации -->
      <li th:if="${session.login != null}">
        <a th:href="@{/user}">Личный кабинет</a>
      </li>
      <li th:if="${session.login != null}">
        <a th:href="@{/logout}">Выйти</a>
      </li>
      <li th:unless="${session.login != null}">
        <a th:href="@{/login}">Вход</a>
      </li>
    </ul>
  </nav>
</header>


<style>

</style>

